<!-- UL Footer -->
<div id="ul_footer" style="padding-bottom:40px;">
  <footer class="footer container">
      <div class="region region-footer">
    <section id="block-block-1" class="block block-block clearfix">


  <div id="ul-footer">

<div class="footer-column footer-column-1">
 <p><a href="http://ulib.iupui.edu">IUPUI University Library</a></p>
 <p>
    <a href="tel:+13172748278">317-274-8278</a><br/>
    755 W. Michigan Street<br/>
    Indianapolis, IN 46202
  </p>
  <p>
    <a href="http://ulib.iupui.edu/givenow"><img src="https://ulib.iupui.edu/sites/all/themes/ulib_bootstrap/img/donate_window.png" style="height:36px; width:36px;"/></a>
    <span style="vertical-align:75%;"><a href="http://ulib.iupui.edu/givenow">Support the Library</a></span>
  </p>
    <p>
    <a href="https://www.facebook.com/iupuilibrary">
      <img style="height:32px;" src="https://ulib.iupui.edu/sites/all/themes/ulib_bootstrap/img/facebook_grayscale.png" />
    </a>
    <a href="https://twitter.com/IUPUILibrary">
      <img style="height:32px;" src="https://ulib.iupui.edu/sites/all/themes/ulib_bootstrap/img/twitter_grayscale.png" />
    </a>
    <a href="https://www.instagram.com/iupuilibrary/">
       <img style="height:32px;" src="https://ulib.iupui.edu/sites/all/themes/ulib_bootstrap/img/instagram_grayscale.png" />
    </a>
  </p>
</div>
<div class="footer-column footer-column-2">
  <ul>
    <li><a href="http://iucat.iu.edu/myaccount">My IUCAT</a></li>
    <li><a href="http://ulib.iupui.edu/digitalscholarship">Center for Digital Scholarship</a></li>
    <li><a href="http://ulib.iupui.edu/herron">Herron Art Library</a></li>
    <li>
       <a href="http://ulib.iupui.edu/special/home">
        Ruth Lilly Special Collections<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&amp;  Archives</a></li>
    <li>
      <a href="http://ulib.iupui.edu/collections/special/psl">
        Joseph & Mathew Payton<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Philanthropic<br/>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Studies Library</a></li>
    <li><a href="http://library.medicine.iu.edu/">Ruth Lilly Medical Library</a></li>
    <li><a href="http://www.iusd.iupui.edu/library/">IU School of Dentistry Library</a></li>
    <li><a href="http://mckinneylaw.iu.edu/library/">Ruth Lilly Law Library</a></li>
  </ul>
</div>
<div class="footer-column footer-column-3">
  <ul>
    <li><a href="https://canvas.iu.edu/">Canvas</a></li>
    <li><a href="https://one.iu.edu/">One.IU</a></li>
    <li><a href="http://imail.iu.edu/">Imail</a></li>
    <li><a href="http://umail.iu.edu/">Umail</a></li>
    <li><a href="https://www.exchange.iu.edu/">Outlook Web Access</a></li>
    <li><a href="https://iu.app.box.com/">IU Box</a></li>
  </ul>
</div>
<div style="clear:both"></div>
</div>
</section> <!-- /.block -->
  </div>
  </footer>
</div>
<!-- IUPUI Footer -->
<footer id="footer-v1" role="contentinfo" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
  	<div class="wrapper">
		<p class="tagline">Fulfilling <span>the</span> Promise</p>
		<p class="internal"><a href="https://ulib.iupui.edu/privacy" id="privacy-policy-link">Privacy Notice</a></p>
		<p class="copyright">
			<a href="http://www.iu.edu/" class="block-iu"><img src="//assets.iu.edu/brand/1.x/block-iu.png" height="26" width="22" alt="Block IU" /></a>
			<span class="line-break">
				<a href="https://www.iu.edu/copyright/">Copyright</a> &#169;2015			</span>
			<span class="line-break">The Trustees of <a href="http://www.iu.edu/" itemprop="url"><span itemprop="name">Indiana University</span></a></span>
		</p>
	</div>
</footer>
<!-- End UL Footer -->
