<!-- UL Header -->
<header id="navbar" role="banner" class="ulib navbar container navbar-default">
  <!-- IUPUI Branding -->
  <div id="branding-bar-v1" itemscope="itemscope" itemtype="http://schema.org/CollegeOrUniversity">
     <div class="bar">
         <div class="wrapper">
             <h1 class="campus">
                 <a href="http://www.iupui.edu" title="Indiana University&ndash;Purdue University Indianapolis">
                     <img src="//assets.iu.edu/brand/1.x/trident-tab.gif" height="73" width="64" alt=" " />
                     <span class="show-on-desktop" itemprop="name">Indiana University&ndash;Purdue University Indianapolis</span>
                     <span class="show-on-tablet" itemprop="name">Indiana University&ndash;Purdue University Indianapolis</span>
                     <span class="show-on-mobile" itemprop="name">IUPUI</span>
                 </a>
             </h1>
         </div>
     </div>
  </div>
  <!-- UL Branding -->
  <div class="container">
    <div class="navbar-header">
      <a class="name navbar-brand" href="http://ulib.iupui.edu" title="Home">University Library</a>
    </div>
    <!-- Search Box -->
    <div class="region region-search">
      <div id="block_search_form">
        <div>
          <ul id="top-search">
            <li class="active">
              <a href="#eds" data-toggle="tab">
                OneSearch
              </a>
            </li>
            <li>
              <a href="#iucat" data-toggle="tab">
                IUCAT
              </a>
            </li>
            <li>
              <a href="#site" data-toggle="tab">
                Site
              </a>
            </li>
          </ul>
        </div>
        <div class="tab-content">
          <div class="tab-pane active" id="eds">
            <!-- EBSCOhost Custom Search Box Begins -->
            <script src="https://support.ebscohost.com/eit/scripts/ebscohostsearch.js" type="text/javascript"></script>
          	<form action="" onsubmit="return ebscoHostSearchGo(this);" method="post">
          		<input id="ebscohostwindow" name="ebscohostwindow" type="hidden" value="1" />
          		<input id="ebscohosturl" name="ebscohosturl" type="hidden" value="http://search.ebscohost.com/login.aspx?direct=true&site=eds-live&scope=site&type=0&custid=iupui&groupid=main&profid=eds&lang=en&authtype=ip,guest" />
          		<input id="ebscohostsearchsrc" name="ebscohostsearchsrc" type="hidden" value="db" />
          		<input id="ebscohostsearchmode" name="ebscohostsearchmode" type="hidden" value="+" />
          		<input id="ebscohostkeywords" name="ebscohostkeywords" type="hidden" value="" />
        				<div>
        					<input id="ebscohostsearchtext" class="block-ul-search-form" name="ebscohostsearchtext" type="text" placeholder=" Search our discovery"/>
        					<input type="submit" value=" " class="block-ul-search-submit">
        				</div>
          	</form>
          	<!-- EBSCOhost Custom Search Box Ends -->
          </div>
          <div class="tab-pane" id="iucat">
            <form>
              <input class="block-ul-search-form" id="edit-search-theme-form-1" type="text" placeholder=" Search our catalog"/>
              <input class="block-ul-search-submit" type="submit" value=" " onclick="return ul_search();"/>
            </form>
          </div>
          <div class="tab-pane" id="site">
            <form action="https://ulib.iupui.edu/search" method="get" accept-charset="UTF-8">
              <input class="block-ul-search-form" id="edit-fulltext" name="fulltext" type="text" placeholder=" Search our website"/>
              <input class="block-ul-search-submit" type="submit" value=" "/>
            </form>
          </div>
        </div>
      </div>
    </div>
  <!-- End Search Box -->
  </header>
  <div class="container" style="padding-bottom:20px;">
   <!-- Menu Navigation -->
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse no-max-height">
      <nav role="navigation" class="page-navigation" style="border-top:1px solid #7d110c":>
          <div class="region region-navigation">
     <section id="block-system-main-menu" class="block block-system block-menu clearfix">


   <ul class="menu nav"><li class="first leaf" id="menu-home-link"><a href="http://ulib.iupui.edu/">Home</a></li>
 <li class="expanded main-menu-resources dropdown"><button data-target="#" class="dropdown-toggle nolink" data-toggle="dropdown">Resources <span class="caret"></span></button><ul class="dropdown-menu"><li class="first collapsed"><button title="" class="nolink">FIND</button></li>
 <li class="collapsed"><a href="https://iupui.libguides.com/references" title="Links to Campus Guides." target="_self">REFERENCE</a></li>
 <li class="last collapsed"><button title="" class="nolink">TOOLS</button></li>
 </ul></li>
 <li class="expanded dropdown"><button data-target="#" class="dropdown-toggle nolink" data-toggle="dropdown">Guides <span class="caret"></span></button><ul class="dropdown-menu"><li class="first leaf"><a href="https://iupui.libguides.com/" target="_self">Subject Guides</a></li>
 <li class="leaf"><a href="https://iupui.libguides.com/courses" target="_self">Course Guides</a></li>
 <li class="leaf"><a href="https://iupui.libguides.com/howto" target="_self">How-To Guides</a></li>
 <li class="last leaf"><a href="https://iupui.libguides.com/librarians" target="_self">Subject Librarians</a></li>
 </ul></li>
 <li class="expanded main-menu-services dropdown"><button data-target="#" class="dropdown-toggle nolink" data-toggle="dropdown">Services <span class="caret"></span></button><ul class="dropdown-menu"><li class="first expanded"><button class="nolink">Borrowing</button></li>
 <li class="expanded"><button class="nolink">Room Reservation</button></li>
 <li class="expanded"><button class="nolink">For Instructors</button></li>
 <li class="expanded"><button class="nolink">For Researchers</button></li>
 <li class="expanded"><button class="nolink">For Guest &amp; Alumni</button></li>
 <li class="expanded"><button class="nolink">Other Services</button></li>
 <li class="last expanded"><button class="nolink">Other Units in the Library</button></li>
 </ul></li>
 <li class="expanded dropdown"><button data-target="#" class="dropdown-toggle nolink" data-toggle="dropdown">Technologies <span class="caret"></span></button><ul class="dropdown-menu"><li class="first leaf"><a href="http://ulib.iupui.edu/tech/computer_availability">PC/Mac Availability</a></li>
 <li class="leaf"><a href="http://ulib.iupui.edu/tech/software">Software</a></li>
 <li class="leaf"><a href="http://ulib.iupui.edu/tech/3d">3D Printing Studio</a></li>
 <li class="leaf"><a href="http://ulib.iupui.edu/tech/VR">Virtual Reality Lab</a></li>
 <li class="leaf"><a href="http://ulib.iupui.edu/tech/rich_media">Rich Media Cluster</a></li>
 <li class="leaf"><a href="http://ulib.iupui.edu/tech/print_scan">Print/ Scan</a></li>
 <li class="last leaf"><a href="http://ulib.iupui.edu/tech/honors">Honors Tech</a></li>
 </ul></li>
 <li class="expanded main-menu-about dropdown"><button data-target="#" class="dropdown-toggle nolink" data-toggle="dropdown">About Us <span class="caret"></span></button><ul class="dropdown-menu"><li class="first expanded"><button class="nolink">Introduction</button></li>
 <li class="expanded"><button class="nolink">Dean of the Library</button></li>
 <li class="last expanded"><button class="nolink">Organization</button></li>
 </ul></li>
 <li class="last expanded dropdown"><button data-target="#" class="dropdown-toggle nolink" data-toggle="dropdown">Need Help? <span class="caret"></span></button><ul class="dropdown-menu"><li class="first leaf"><a href="http://ulib.iupui.edu/help/ask">Ask Us</a></li>
 <li class="leaf"><a href="https://iupui.libanswers.com/">FAQ</a></li>
 <li class="leaf"><a href="http://ulib.iupui.edu/help/glossary">Glossary of Terms</a></li>
 <li class="last leaf"><a href="http://ulib.iupui.edu/help/tech_issues">Tech Issues</a></li>
 </ul></li>
 </ul>
 </section>
   </div>
      </nav>
    </div>
   </div>

<!-- End UL Header -->
