<!-- UL Head -->

  <!-- Add Favicon -->
  <link rel="shortcut icon" href="https://ulib.iupui.edu/sites/all/themes/ulib_bootstrap/favicon.ico" type="image/vnd.microsoft.icon" />


  <!-- Required CSS Files -->

  <link type="text/css" rel="stylesheet" href="https://assets.iu.edu/brand/1.x/brand.css" media="all" />
  <link type="text/css" rel="stylesheet" href="https://ulib.iupui.edu/sites/all/themes/ulib_bootstrap/css/menu.css" media="all" />
  <link type="text/css" rel="stylesheet" href="https://ulib.iupui.edu/sites/all/themes/ulib_bootstrap/css/style.css" media="all" />

  <!-- Required JS Files -->
  <script src="https://ulib.iupui.edu/sites/all/themes/ulib_bootstrap/bootstrap/js/collapse.js"></script>
  <script src="https://ulib.iupui.edu/sites/all/modules/jquery_update/replace/ui/external/jquery.cookie.js"></script>
  <script src="https://ulib.iupui.edu/sites/all/themes/ulib_bootstrap/js/ul.js"></script>

  <script>

    jQuery(function($) {
      $(document).ready(function(){

        $("li.main-menu-resources ul.dropdown-menu").replaceWith('<ul class="dropdown-menu mega-menu"><div class="container">'
        +'<div class="row"><div class="col-sm-3">'
          +'<h2 class="mega-sub-title menu-find">FIND</h2><div class="menu-block-wrapper menu-block-1 menu-name-main-menu parent-mlid-344 menu-level-1">  <ul class="menu nav"><li class="first leaf menu-mlid-346"><a href="http://ulib.iupui.edu/resources/books">Books &amp; Media</a></li><li class="leaf menu-mlid-345"><a href="http://ulib.iupui.edu/resources/databases">Databases (Articles)</a></li><li class="leaf menu-mlid-912"><a href="http://ulib.iupui.edu/collections">Digital Collections</a></li><li class="leaf menu-mlid-383"><a href="http://ulib.iupui.edu/resources/journals">Journals</a></li><li class="last leaf menu-mlid-385"><a href="http://ulib.iupui.edu/resources/dissertations">Theses / Dissertations</a></li></ul></div>'
        +'</div>'
        +'<div class="col-sm-3">'
          +'<h2 class="mega-sub-title menu-reference">REFERENCE</h2><div class="menu-block-wrapper menu-block-2 menu-name-main-menu parent-mlid-386 menu-level-1">  <ul class="menu nav"><li class="first leaf menu-mlid-513"><a href="http://ulib.iupui.edu/resources/reference_collections">Reference Collections</a></li><li class="leaf menu-mlid-387"><a href="http://iupui.campusguides.com/citation" target="_self">Citation Styles</a></li><li class="leaf menu-mlid-388"><a href="http://iupui.campusguides.com/citystatecountry" target="_self">City / State / Country</a></li><li class="leaf menu-mlid-389"><a href="http://iupui.campusguides.com/collegeandcareer" target="_self">College / Career</a></li><li class="leaf menu-mlid-390"><a href="http://iupui.campusguides.com/criticisms" target="_self">Criticisms / Reviews</a></li><li class="leaf menu-mlid-399"><a href="http://iupui.campusguides.com/directories" target="_self">Directories</a></li><li class="leaf menu-mlid-401"><a href="http://iupui.campusguides.com/encyclopedias" target="_self">Encyclopedias / Dictionaries / Thesauri</a></li><li class="leaf menu-mlid-402"><a href="http://iupui.campusguides.com/factsandfigures" target="_self">Facts / Figures</a></li><li class="leaf menu-mlid-403"><a href="http://iupui.campusguides.com/gismapsatlases" target="_self">GIS / Maps / Atlases</a></li><li class="last leaf menu-mlid-404"><a href="http://iupui.campusguides.com/legal" target="_self">Legal Research</a></li></ul></div>'
        +'</div>'
        +'<div class="col-sm-3">'
          +'<h2 class="mega-sub-title menu-tools">TOOLS</h2><div class="menu-block-wrapper menu-block-3 menu-name-main-menu parent-mlid-391 menu-level-1">  <ul class="menu nav"><li class="first leaf menu-mlid-392"><a href="http://iucat.iu.edu" title="">IUCAT</a></li><li class="leaf menu-mlid-393"><a href="http://iupui.worldcat.org/" title="">WorldCat</a></li><li class="leaf menu-mlid-405"><a href="http://rx8kl6yf4x.search.serialssolutions.com/?SS_Page=refiner&amp;SS_RefinerEditable=yes">Citation Linker</a></li><li class="leaf menu-mlid-406"><a href="http://ulib.iupui.edu/findit/metasearch" title="">MetaSearch</a></li><li class="leaf menu-mlid-407"><a href="http://iupui.campusguides.com/endnote" target="_self">Endnote</a></li><li class="last leaf menu-mlid-408"><a href="http://iupui.campusguides.com/zotero" target="_self">Zotero</a></li></ul></div>'
        +'</div>'
        +'</ul></div></div></div></ul>');

        $("li.main-menu-services ul.dropdown-menu").replaceWith('<ul class="dropdown-menu mega-menu"><div class="container">'
        +'<div class="row"><div class="col-sm-3">'
          +'<h2 class="mega-sub-title menu-borrowing">Borrowing</h2><div class="menu-block-wrapper menu-block-4 menu-name-main-menu parent-mlid-451 menu-level-1">  <ul class="menu nav"><li class="first leaf menu-mlid-493"><a href="http://ulib.iupui.edu/services/loan_periods">Loan Periods &amp; Borrowing Limits</a></li><li class="leaf menu-mlid-668"><a href="http://ulib.iupui.edu/services/popshop">Pop Shop</a></li><li class="leaf menu-mlid-494"><a href="http://ulib.iupui.edu/services/book_drop">Book Drops</a></li><li class="leaf menu-mlid-495"><a href="http://ulib.iupui.edu/services/renewals">Renewals</a></li><li class="leaf menu-mlid-496"><a href="http://ulib.iupui.edu/services/delivery">Delivery (Holds)</a></li><li class="leaf menu-mlid-497"><a href="http://ulib.iupui.edu/services/recall">Recalls</a></li><li class="leaf menu-mlid-498"><a href="http://ulib.iupui.edu/services/ILL">Interlibrary Loan</a></li><li class="last leaf menu-mlid-499"><a href="http://ulib.iupui.edu/services/fines">Fines</a></li></ul></div>'
          +'<h2 class="mega-sub-title menu-room-reservations">Room Reservation</h2><div class="menu-block-wrapper menu-block-5 menu-name-main-menu parent-mlid-453 menu-level-1">  <ul class="menu nav"><li class="first leaf menu-mlid-500"><a href="http://ulib.iupui.edu/services/conference">Conference and Class Rooms</a></li><li class="leaf menu-mlid-501"><a href="http://ulib.iupui.edu/services/group_study">Group Study Rooms</a></li><li class="leaf menu-mlid-502"><a href="http://ulib.iupui.edu/services/multimedia">Multimedia Rooms</a></li><li class="last leaf menu-mlid-503"><a href="http://ulib.iupui.edu/services/graduate_carrel">Graduate Carrels</a></li></ul></div>'
        +'</div>'
        +'<div class="col-sm-3">'
          +'<h2 class="mega-sub-title menu-instuctors">For Instructors</h2><div class="menu-block-wrapper menu-block-6 menu-name-main-menu parent-mlid-413 menu-level-1">  <ul class="menu nav"><li class="first leaf menu-mlid-452"><a href="http://ulib.iupui.edu/services/info_literacy">Library Instruction</a></li><li class="leaf menu-mlid-414"><a href="http://ulib.iupui.edu/services/course_reserve_request">Course Reserves Request</a></li><li class="leaf menu-mlid-505"><a href="http://ulib.iupui.edu/services/resources_request">Resources Request</a></li><li class="last leaf menu-mlid-664"><a href="http://ulib.iupui.edu/services/proxy_account">Proxy Account for IUPUI Faculty</a></li></ul></div>'
          +'<h2 class="mega-sub-title menu-researchers">For Researchers</h2><div class="menu-block-wrapper menu-block-7 menu-name-main-menu parent-mlid-454 menu-level-1">  <ul class="menu nav"><li class="first leaf menu-mlid-506"><a href="http://ulib.iupui.edu/digitalscholarship/dataservices">Data Management</a></li><li class="leaf menu-mlid-507"><a href="https://openaccess.iupui.edu/">Open Access Policy</a></li><li class="leaf menu-mlid-508"><a href="http://ulib.iupui.edu/digitalscholarship/oafund">Open Access Journal Funds</a></li><li class="last leaf menu-mlid-515"><a href="http://ulib.iupui.edu/special/home" target="_blank">Special Collections</a></li></ul></div>'
          +'<h2 class="mega-sub-title menu-guest">For Guest &amp; Alumni</h2><div class="menu-block-wrapper menu-block-8 menu-name-main-menu parent-mlid-455 menu-level-1">  <ul class="menu nav"><li class="first leaf menu-mlid-509"><a href="http://ulib.iupui.edu/services/guest_library_cards">Library Cards</a></li><li class="leaf menu-mlid-586"><a href="http://ulib.iupui.edu/services/guest_computer">Computer / Technology Usage</a></li><li class="last leaf menu-mlid-511"><a href="http://ulib.iupui.edu/services/highschool">High School Student Groups</a></li></ul></div>'
        +'</div>'
        +'<div class="col-sm-3">'
          +'<h2 class="mega-sub-title menu-other-services">Other Services</h2><div class="menu-block-wrapper menu-block-9 menu-name-main-menu parent-mlid-456 menu-level-1">  <ul class="menu nav"><li class="first leaf menu-mlid-512"><a href="http://ulib.iupui.edu/services/locker">Lockers</a></li><li class="leaf menu-mlid-514"><a href="http://ulib.iupui.edu/digitalscholarship" target="_blank">Center for Digital Scholarship</a></li><li class="last leaf menu-mlid-750"><a href="http://www2.ulib.iupui.edu/herron/">Herron Art Library</a></li></ul></div>'
          +'<h2 class="mega-sub-title menu-other-units">Other Units in the Library</h2><div class="menu-block-wrapper menu-block-10 menu-name-main-menu parent-mlid-457 menu-level-1">  <ul class="menu nav"><li class="first leaf menu-mlid-516"><a href="http://aes.iupui.edu/">AES Educational Learning Center</a></li><li class="leaf menu-mlid-517"><a href="http://www.iupui.edu/~iahi/">Arts &amp; Humanities Institute</a></li><li class="leaf menu-mlid-572"><a href="http://ctl.iupui.edu/">Center for Teaching and Learning / OPD</a></li><li class="leaf menu-mlid-748"><a href="http://journalism.iupui.edu/">Dept. of Journalism and Public Relations</a></li><li class="leaf menu-mlid-574"><a href="http://graduate.iupui.edu/">Graduate Office</a></li><li class="leaf menu-mlid-576"><a href="http://honorscollege.iupui.edu/">Honors College</a></li><li class="leaf menu-mlid-740"><a href="http://mac.iupui.edu/">Mathematics Assistance Center (MAC)</a></li><li class="leaf menu-mlid-580"><a href="http://ofw.iupui.edu/">Office for Women</a></li><li class="leaf menu-mlid-578"><a href="http://research.iupui.edu/">Office of the Vice Chancellor for Research</a></li><li class="leaf menu-mlid-582"><a href="http://seri.iupui.edu/">STEM Education Research Institute</a></li><li class="last leaf menu-mlid-584"><a href="http://liberalarts.iupui.edu/uwc/">University Writing Center</a></li></ul></div>'
        +'</div>'
        +'</ul></div></div></div></ul>');

        $("li.main-menu-about ul.dropdown-menu").replaceWith('<ul class="dropdown-menu mega-menu"><div class="container">'
        +'<div class="row"><div class="col-sm-3">'
          +'<h2 class="mega-sub-title menu-introduction">Introduction</h2><div class="menu-block-wrapper menu-block-11 menu-name-main-menu parent-mlid-458 menu-level-1">  <ul class="menu nav"><li class="first leaf menu-mlid-520"><a href="http://ulib.iupui.edu/about/hours">Hours</a></li><li class="leaf menu-mlid-524"><a href="http://ulib.iupui.edu/about/location">Location</a></li><li class="leaf menu-mlid-552"><a href="http://ulib.iupui.edu/about/maps">Maps &amp; Tours</a></li><li class="leaf menu-mlid-534"><a href="http://ulib.iupui.edu/about/policies">Library Policies</a></li><li class="leaf menu-mlid-532"><a href="http://ulib.iupui.edu/about/employment">Employment</a></li><li class="last leaf menu-mlid-530"><a href="http://ulib.iupui.edu/about/contact">Contact Us</a></li></ul></div>'
        +'</div>'
        +'<div class="col-sm-3">'
          +'<h2 class="mega-sub-title menu-dean">Dean of the Library</h2><div class="menu-block-wrapper menu-block-12 menu-name-main-menu parent-mlid-459 menu-level-1">  <ul class="menu nav"><li class="first leaf menu-mlid-518"><a href="http://ulib.iupui.edu/about/dean">Message from the Dean</a></li><li class="leaf menu-mlid-536"><a href="http://ulib.iupui.edu/about/newsletter">Newsletter</a></li><li class="leaf menu-mlid-538"><a href="http://ulib.iupui.edu/about/donation">Make a Gift</a></li><li class="leaf menu-mlid-540"><a href="http://ulib.iupui.edu/about/board">Community Board</a></li><li class="leaf menu-mlid-542"><a href="http://ulib.iupui.edu/about/annual_report">Annual Report</a></li><li class="last leaf menu-mlid-544"><a href="http://ulib.iupui.edu/about/office_dean">Office of the Dean</a></li></ul></div>'
        +'</div>'
        +'<div class="col-sm-3">'
          +'<h2 class="mega-sub-title menu-organization">Organization</h2><div class="menu-block-wrapper menu-block-13 menu-name-main-menu parent-mlid-460 menu-level-1">  <ul class="menu nav"><li class="first leaf menu-mlid-519"><a href="http://ulib.iupui.edu/about/mission">Mission &amp; Vision Statements</a></li><li class="leaf menu-mlid-554"><a href="http://ulib.iupui.edu/about/people">People</a></li><li class="leaf menu-mlid-556"><a href="http://ulib.iupui.edu/about/org_chart">Organizational Chart</a></li><li class="leaf menu-mlid-560"><a href="http://ulib.iupui.edu/about/plan">Strategic Plan</a></li><li class="last leaf menu-mlid-558"><a href="http://ulib.iupui.edu/press-releases">Press Releases</a></li></ul></div>'
        +'</div>'
        +'</ul></div></div></div></ul>');
     });
    });

  </script>

  <!-- End UL Head -->
