<h2>Patron Driven Acquistions Application</h2>

<p>
  <%= link_to 'Example', new_book_path(:title => 'TEST SUBMISSION',
                                       :utitle => 'TEST SUBMISSION',
                                       :pub => 'New York : Beginner Books',
                                       :pub_date => '1988, c1960.',
                                       :isbn => '0394800168',
                                       :iucat => 'http://iucat.iu.edu/catalog/6091603',
                                       :ed => '2nd',
                                       :oclc => 'ocm33230492 ') %>
  book purchase request.
</p>
