<h1>Submit Book Purchase Request Form</h1>
<!--
<div class="alert alert-warning">
    <p>
      During the Winter Holidays, purchase request made after December 18th
      through January 2 will not be processed until January 3rd.
    </p>
</div>
-->
<div>
  <p>
    The IUPUI University Library On Demand program allows IUPUI students,
    faculty, and staff to select books the Library will purchase for the
    Library’s collection. The books can be purchased in print and will take
    anywhere from about a week or up to two weeks to be delivered. Or, when
    available, books can be purchased as e-books, which can be delivered as
    fast as within two hours. The IUPUI student, faculty, or staff person who
    requests the book will be sent an email when the book is available for pick
    up or use.
  </p>
</div>

<%= render 'form' %>
